<div class="row align-content-center justify-content-center bg-gradient h-100 overflow-auto">
  <div class="col-11 col-md-8 col-lg-6 col-xl-4 text-center reg-box">
    <div class="row text-light justify-content-center align-content-center" style="background-color: #272b2e;">
      <div class="col-12 my-2">
        Reset Password
      </div>
    </div>

    <!-- Form to reset the password -->
    <div class="row justify-content-center align-content-around my-2" *ngIf="!success">

      <form class="form-row justify-content-center" [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">

        <div class="form-group col-11 col-sm-8">
          <label for="password1" class="text-warning">Password</label>
          <div class="small text-info" *ngIf="displayPasswordInfo">Password can to be 6-12 charecters long.</div>
          <input type="password" class="form-control" name="password" id="password" placeholder="Password"
            formControlName="password" required minlength="6" maxlength="12" (focus)="displayPasswordInfo = true"
            (blur)="displayPasswordInfo = false;">
        </div>

        <div class="form-group col-11 col-sm-8">
          <label for="exampleInputPassword1" class="text-warning">Confirm Password</label>
          <input type="password" class="form-control" name="confirm_password" id="confirm_password"
            placeholder="Confirm Password" formControlName="confirmPassword" required minlength="6" maxlength="12">
          <div class="small text-danger" *ngIf="passwordResetForm.errors?.invalidPassword">
            *Passwords do not match
          </div>
        </div>


        <div class="col-11 mb-3 small text-danger" *ngIf="errorMessage">
          *{{errorMessage}} <a class="text-info" [routerLink] = "['/', 'auth', 'reset-password', 'get-link']" *ngIf="linkExpired">Get a new link?</a>
        </div>

        <div class="col-11"></div>
        <button type="submit" class="btn btn-primary"
          [disabled]="!((passwordResetForm.valid && !passwordResetForm.errors?.invalidPassword) && (passwordResetForm.touched && passwordResetForm.dirty))">Reset
          Password</button>
      </form>

    </div>

    <!-- Displayed after success -->
    <div class="row justify-content-center align-content-center reg-box text-light my-2" *ngIf="success">
      <div class="col-12">
        {{errorMessage}}
      </div>
    </div>

    <div class="row justify-content-center" style="background-color: #272b2e;">
      <button class="btn text-info" [routerLink]="['/', 'auth', 'login']"><small>Login</small></button>
      <button class="btn text-info" [routerLink]="['/', 'auth', 'register']"><small>Register</small></button>
    </div>

  </div>
</div>
