<div class="row align-content-center justify-content-center bg-gradient h-100 overflow-auto">
  <div class="col-11 col-md-8 col-lg-6 col-xl-4 text-center reg-box">
    <div class="row text-light justify-content-center align-content-center" style="background-color: #272b2e;">
      <div class="col-12 my-2">
        Grocery Manager
      </div>
    </div>
    <div class="row justify-content-center align-content-around my-2">
      <form class="form-row justify-content-center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-11 col-sm-8">
          <label for="email" class="text-warning">Email</label>
          <input type="text" class="form-control" id="email" name="email" aria-describedby="email"
            placeholder="Email Id" formControlName="email" required>
        </div>

        <div class="form-group col-11 col-sm-8">
          <label for="password" class="text-warning">Password</label>
          <input type="password" class="form-control" id="password" name="password" aria-describedby="password"
            placeholder="Password" formControlName="password" required>
        </div>

        <div class="col-11 mb-3 small text-danger" *ngIf="errorMessage">
          *{{errorMessage}} 
        </div>

        <div class="form-group col-11 col-sm-8 d-flex justify-content-center mb-2" *ngIf="showRecaptcha">
          <re-captcha (resolved)="resolved($event)" [siteKey]="siteKey"></re-captcha>
        </div>


        <div class="col-11">
          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
        </div>
      </form>  
    </div>
    <div class="row justify-content-center mb-2 pt-2 border-top">
   
        <button class="btn social-btn rounded mr-3" (click) = "onSocialLogin('google')"><img src="assets/google-btn.png.png" class="img-fliud" style="max-width: 25px; " alt="Google Login"></button>
        <button class="btn social-btn rounded ml-3" (click) = "onSocialLogin('facebook')"><img src="assets/facebook-btn.png.png" class="img-fliud" style="max-width: 25px; " alt="Facebook Login"></button>
   
    </div>
    <div class="row justify-content-center" style="background-color: #272b2e;">
      <button class="btn text-info" [routerLink]="['/', 'auth', 'register']"><small>Register</small></button>
      <button class="btn text-info" [routerLink]="['/', 'auth', 'reset-password', 'get-link']"><small>Forgot
          Password?</small></button>
    </div>

  </div>
</div>
